*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Handlee', cursive;
}

.main{
  padding-top: 5rem;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

header img { 
    margin-top: 2px;
    margin-left: 2px;
    border-radius: 3px;
}

body {
    background-image:url("../img/woman-cleaning-surface.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

.header {
    background: #4A91F7;
    color: whitesmoke;
    border-radius: 0 0 3px 3px;

    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.logo {
    width: 110px;
    height: 60px;
    margin-left: 1.5px;
}

.textoDeProducto{
  text-decoration: none;
}

.buscador input {   
    width: 200px;
    height: 30px;
    padding: 0 20px;
    color: black;
    outline: none;
    border-radius: 30px;
    font-size: 2vh; 
} 

.container-logo-barra-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header a{
    color: white;
    text-decoration: none;
}

.navegador ul {
    margin: 0%;
    padding: 0%;
    list-style: none;
}

.navegador ul li {
    display: inline-block;
}
 
 .navegador ul li a {
    display: block ;
    padding: 0.5rem 1rem;
    transition: all 0.2s linear;
    border-radius: 1.5px;
 }
  .navegador ul li a:hover{
      background: #4763ED;
      border-radius: 6px;
  }

  .precio{
    font-size: 3vh;
    color: green;
}
.producto{
    font-weight: bold;
    font-size: 3vh;
    position: center;
    color: black;
    margin-bottom: 0;
}
.descuento{
    font-size: 15px;
    font-weight: bold;
    color: black;
}
.encuadro{
    padding: 20px 0 0 0;
    align-items: center;
    text-align: left;
    font-size: 4vh;
    background-color:#4A91F7 ;
    border-radius: 10px;
}


/*<----------------------------------------FOOTER--------------------------------------->*/
.footer {
  display: none;
}

.footer-mobile {
  background-color: #83b7ff;
  display: flex;
  height: 60px;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0;
} 

.footer-mobile h3 {
  font-size: 22px;
  color: #ffffff;
}

.footer-mobile i {
  font-size: 22px;
}

/* <----------------------FIN FOOTER---------------------->*/
.ver{
    background-color: white;
    text-align: center;
    border: 1px solid silver;
    margin:1vh;
    display: flex;
    flex-direction: column;
    box-shadow: black;
    /* width: 55%; */
}

.pdp{
    /* display: flex;
    flex-direction: column; */
    /* margin-bottom: 1px; */
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 2px solid gray;
}

/* .section-html{
    display: flex;
    justify-content: center;
} */

/* @media (min-width: 361px), (max-width: 768px) {
  .descripcion {
    display: block;
  }
  main section article {
    margin: 10px;
  }
  header nav {
    display: block;
  }
  /* .navegador .container-logo-barra-nav ul li {
    display: none;
  }
  .buscador{
    display: none;
  } */
  /* .main{
    width: 0 auto;
  }
  .encuadro{
    padding: 0%;
    align-items: center;
    text-align: center;
    font-size: 4vh;
    background-color:#4A91F7 ;
    border-radius: 10px;
}
}

  @media (min-width: 768px){
    .articulos {
        display: flex;
        flex-direction: column;
    }
    .body-html .section-html .ver{
        width: 46%;
    }

  }

  @media (min-width: 1280px){
    .section-html{
      display: flex;
      flex-wrap: wrap;
    }
    .main{
      padding-top: 5rem;
    } */ */

    /*<-------------------HEADER MEDIA---------------------------------->*/
    .container-logo-barra-nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
  }
  
  .header a{
      color: white;
      text-decoration: none;
  }
  
  .navegador ul {
      margin: 0%;
      padding: 0%;
      list-style: none;
  }
  
  .navegador ul li {
      display: inline-block;
  }
   
   .navegador ul li a {
      display: block ;
      padding: 0.5rem 1rem;
      transition: all 0.2s linear;
      border-radius: 1.5px;
   }
    .navegador ul li a:hover{
        background: #4763ED;
        border-radius: 6px;
    }
  

    /*<-------------------CARRITO MEDIA---------------------------------->*/
    .carrito-productos-carro {
      display:flex;
      justify-content: space-between ;
      width: 100%;
      border: 2px solid gray;
     
      border-radius: 5px;
      padding-left: 5px;
      padding-right: 10px;
      background-color: black;
      margin-top: 10px;
      margin-bottom: 10px;
      color: white;
      
    }
    
    .carrito-productos-carro img{
      width: 20%;
      padding: 5px;
    }
    .carrito-productos-carro h3 {
      font-size: 5vw;
    }
    .carrito-productos-carro h6 {
      font-size: 3vw;
    }
    .carrito-productos-carro h4 {
      font-size: 4vw;
    }
    
    div.carrito-detalle {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 70%; 
    }
    .carrito-prods {
      
      /*border: 1px solid gray;*/
      padding-top: 30px;
      padding-bottom: 30px;
      padding-right: 5px;
      padding-left: 5px;
      /* width: 50%;*/
    }
    
    .carrito-num {
      background-color: white;
      border: 1px solid gray;
      border-radius: 5px;
      margin-left: 5px;
      margin-right: 5px;
      color: #000000;
    }
    
/* } */
  /* footer */
  .footer-mobile {
    display: none;
  }

  .footer {
    display: flex;
    background-color: #4A91F7;
    justify-content: space-around;
    align-items: center;
    font-size: 1vw;
    color: white;
    margin-bottom: 0px;
  }
  .footer div ul li a{
    color: white;
  }
  .datos { color: white;}

  .footer img {
    width: 10%;
  }

  .footer ul li a {
    text-decoration: none;
    color: #000000;
  }

  .footer ul li {
    list-style-type: none;
    text-align: center;
  }
/* fin */

.detergentem{
    width: auto;
    height: 35vh;
    padding: 0 163.05 0 163.05
}

/*MATEO MATEO MATEO*/

.html-login,
.html-register{
    height: 99%;
    font-family: 'Handlee', cursive;
    
}

.bodylogin{
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* SINGIN */

.boxlogin{
    display: flex;
    flex-direction: column;
    padding: 40px;
    background-color: #4A91F7;
    align-items: center;
    border-radius: 18%;
    border: 1px rgb(100, 224, 255);
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.title{
    text-transform: uppercase;
    font-weight: 500;
}

.boxlogin input[type="text"],
.boxlogin input[type="password"],
.boxlogin button[type="submit"],
.boxlogin button[type="reset"]{
    border: 0;
    background: rgb(238, 229, 229);
    display: block;
    margin: 20px auto;
    padding: 14px 10px;
    text-align: center;
    border: 2px solid #d5dbd9;
    width: 200px;
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;
    font-size: 2vh;
}

/*MATEO MATEO MATEO*/

.html-login,
.html-register{
    height: 99%;
    font-family: 'Handlee', cursive;
    
}

.bodylogin{
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* SINGIN */

.boxlogin{
    width: 300px;
    padding: 40px;
    background-color: #4A91F7;
    text-align: center;
    border-radius: 18%;
    border: 1px rgb(100, 224, 255);
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.title{
    text-transform: uppercase;
    font-weight: 500;
}

.boxlogin input[type="text"],
.boxlogin input[type="password"],
.boxlogin button[type="submit"],
.boxlogin button[type="reset"]{
    border: 0;
    background: rgb(238, 229, 229);
    display: block;
    margin: 20px auto;
    padding: 14px 10px;
    text-align: center;
    border: 2px solid #d5dbd9;
    width: 200px;
    outline: none;
    color: black;
    border-radius: 22px;
    transition: 360ms;
    font-family: 'arial', cursive;
    font-size: 14;
}

.boxlogin input[type="text"]:focus,
.boxlogin input[type="password"]:focus{
    width: 280px;
    border-color: none;
}

.boxlogin button[type="submit"],
.boxlogin button[type="reset"]{
    border: 0;
    background: rgb(238, 229, 229);
    cursor: pointer;
}

.boxlogin button[type="submit"]:hover,
.boxlogin button[type="reset"]:hover{
    transition: 1111ms;
    background: none;
}

/* REGISTER */

.bodyregister{
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
}

.cajaregister{
    width: 410px;
    padding: 40px;
    background-color: #4A91F7;
    text-align: center;
    border-radius: 18%;
    border: 1px rgb(100, 224, 255);
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.titulo{
    font-size: 27px;
    align-items: center;
    text-align: center;
}

.cajaregister .inputbox .input{
width: 100%;
outline: none;
border: 1px solid #d5dbd9;
font-size: 15px;
padding: 8px 10px;
border-radius: 22px;
transition: all 0.3s ease;
}


.bodyregister .cajaregister .inputbox,
.todosbotones{
border: 0;
background: none;
display: flex;
margin: 10px auto;
padding: 5px 3px;
text-align: center;
border: 1px;
width: 253px;
outline: none;
color: black;
border-radius: 22px;
transition: 360ms;
font-size: 16;
}

.formulario{
  margin-top: 150px;
}

.select-register{
    width: 253px;
    margin: 9px auto;
    padding: 5px 3px;
    background-color: white;
    border-radius: 18px;
}

.options-register{
    position: absolute;
    right: 12px;
    top: calc(50% - 3px);
    width: 10px;
    height: 6px;
    stroke-width: 2px;
    stroke: #9098A9;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    pointer-events: none;
}

.todosbotones button[type="submit"],
.todosbotones button[type="reset"],
.todosbotones button[type="button"]{
border: 2px solid black;
background: rgb(238, 229, 229);
display: flex;
margin: 10px auto;
padding: 8px 10px;
text-align: center;
border: 1px;
width: 253px;
outline: none;
color: black;
border-radius: 22px;
transition: 360ms;
font-size: 15;
}


.todosbotones button[type="submit"]:hover,
.todosbotones button[type="reset"]:hover,
.todosbotones button[type="button"]:hover{
    transition: 1111ms;
    background: none;
}

.todosbotones{
    align-items: center;
    flex-direction: column;
}

.inputBox-terms{
  display: flex;
  justify-content:center;
  align-items: center;
  position: relative;
}

/* PRODUCT DETAIL */
.productDetailBody {
  /* background-color: black; */
  width: 100vw;
  height: 100vh;
}

.mainProductDetail {
  padding: 80px 0px 0px 0px;
  text-align: center;
  width: 100vw;
  height: 80vw;
  /* background-color: yellow; */
}

.productTittleContainer {
  text-align: left;
  /* border: red solid; */
  padding: 2%;
  margin: 2%;
}

.productTittle{
  align-items: center;
  text-align: left;
  font-size: 3vh;
}

.productPictureContainer {
  text-align: center;
  /* border: red solid; */
  padding: 2%;
  margin: 2%;
  background-color: white;
  height: 20vh;
}

.productPicture {
  padding: 5%;
  border-image: 5%;
}

.productPriceContainer {
  text-align: left;
  /* border: red solid; */
  padding: 2%;
  margin: 2%;
}

.productPrice {
  text-align: left;
  font-size: 4vh;
  display: block;
}

.productCuota {
  text-align: left;
  font-size: 2vh;
  display: block;
}

.productPaymentMethodContainer {
  text-align: left;
  /* border: red solid; */
  padding: 2%;
  margin: 1% 2%;
}

.buttomContainer{
  /* border: red solid; */
  margin: 2%;
}

.buttomContainer button {
  text-align: center;
  display: block;
  margin-top: 1%;
  width: 100%;
  font-size: 2vh;
  font-family: 'Handlee', cursive;
  font-weight: 900;
}

.buyButton {
  background-color: #3483fa;
  color: white;
}

.addButton {
  background-color: rgba(65,137,230,.15);
  color: #3483fa;
}

.descriptionContainer {
  text-align: left;
  /* border: red solid; */
  padding: 2%;
  margin: 2%;
}

.questionContainer {
  text-align: left;
  /* border: red solid; */
  padding: 2%;
  margin: 2%;
}

.questionContainer h3 {
  margin-top: 1%;
}

.questionContainer input{
  width: 100%;
  margin-top: 1%;
}


.reply {
  color: grey;
}

.pregunta{
  font-size: 1rem;
}

.formulario{
  padding-top: 5rem;
  font-size: 2rem;
}

/* <----------------------------------CARRITO-------------------------------------> */
.carrito-productos-carro {
  display:flex;
  justify-content: space-between ;
  width: 100%;
  border: 2px solid gray;
 
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 10px;
  background-color: #1F1E1E;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
  
}

.carrito-productos-carro img{
  width: 20%;
  padding: 5px;
     
}
.carrito-productos-carro h3 {
  font-size: 5vw;
}
.carrito-productos-carro h6 {
  font-size: 3vw;
}
.carrito-productos-carro h4 {
  font-size: 4vw;
}

div.carrito-detalle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  
  
}

.carrito-prods {
  
  /*border: 1px solid gray;*/
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 5px;
  padding-left: 5px;
  /* width: 50%;*/
 
}


.carrito-boton-carro {
  display: flex;
  align-items: center;
  
}

.carrito-num {
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
  color: #000000;
}

section.carrito-resumen{
  width: 100%;
  display: flex;
  flex-direction: column;
     
  /*border: 1px solid gray;*/
  
  justify-content: center;
  align-items: center;
  padding-right: 1px;
  padding-left: 1px;
  
}

.carrito-main {
  display: flex;
  flex-direction: column;
  background-color: white;
  
}

.carrito-caja { 
  width: 80%;
  /*margin-top: 10px;*/
  margin-bottom: 20px;
  background-color: #1F1E1E;
  border: 2px solid gray;
  padding-top: 10px;
  padding-bottom: 20px;
  border-radius: 10px;
  color: white;
  
  
}
.carrito-caja p {
  font-size: 40vw;
}

.carrito-boton {

  border: 2px solid gray;
  border-radius: 5px;
  text-align: center;
  font-weight: bolder;
  margin: auto;
  margin-top: 15px;
  font-size: 22px;
  width: 80%;
  color: white;
    border: 1px solid;
    text-align: center;
    padding: 10px;
    background-color: #FE771F;
}

.carrito-a1, .carrito-a2, .carrito-a3, .carrito-a4 {
  display: flex;
 
  justify-content: space-between;
  padding: 5px;
}


div.carrito-a1 p, div.carrito-a2 p, div.carrito-a3 p, div.carrito-a4 p {
  font-size: 15px;
}
.carrito-a1 em {
  color: #FE771F;
}

.carrito-a3 {
  border-bottom: grey solid 1px;
  padding-left: 5px;
  padding-right: 5px;
}

.carrito-vacio {

  color: white;
  height: 70vh;
  background-color: #83b7ff;
  font-size: 30px;
  text-align: center;
  justify-content: center;
  padding-top: 100px; 
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;

}
.carrito-vacio i {
  margin-top: 70px;
  font-size: 120px;
}

/* PRODUCT DETAIL */
.productDetailBody {
  /* background-color: black; */
  width: 100vw;
  height: 100vh;
}

.mainProductDetail {
  padding: 80px 0px 0px 0px;
  text-align: center;
  width: 100vw;
  height: 80vw;
  /* background-color: yellow; */
}

.productTittleContainer {
  text-align: left;
  /* border: red solid; */
  padding: 2%;
  margin: 2%;
}

.productTittle{
  align-items: center;
  text-align: left;
  font-size: 3vh;
}

.productPictureContainer {
  text-align: center;
  /* border: red solid; */
  padding: 2%;
  margin: 2%;
  background-color: white;
  height: 20vh;
}

.productPicture {
  padding: 5%;
  border-image: 5%;
}

.productPriceContainer {
  text-align: left;
  /* border: red solid; */
  padding: 2%;
  margin: 2%;
}

.productPrice {
  text-align: left;
  font-size: 4vh;
  display: block;
}

.productCuota {
  text-align: left;
  font-size: 2vh;
  display: block;
}

.productPaymentMethodContainer {
  text-align: left;
  /* border: red solid; */
  padding: 2%;
  margin: 1% 2%;
}

.buttomContainer{
  /* border: red solid; */
  margin: 2%;
}

.buttomContainer button {
  text-align: center;
  display: block;
  margin-top: 1%;
  width: 100%;
  font-size: 2vh;
  font-family: 'Handlee', cursive;
  font-weight: 900;
}

.buyButton {
  background-color: #3483fa;
  color: white;
}

.addButton {
  background-color: rgba(65,137,230,.15);
  color: #3483fa;
}

.descriptionContainer {
  text-align: left;
  /* border: red solid; */
  padding: 2%;
  margin: 2%;
}

.questionContainer {
  text-align: left;
  /* border: red solid; */
  padding: 2%;
  margin: 2%;
}

.questionContainer h3 {
  margin-top: 1%;
}

.questionContainer input{
  width: 100%;
  margin-top: 1%;
}

.questionContainer h4 {
  margin-top: 2%;
}

.reply {
  color: grey;
}

/* PRODUCT CREATION */
.productCreate{
width: 300px;
padding: 40px;
background-color: #4A91F7;
text-align: center;
border-radius: 18%;
border: 1px rgb(100, 224, 255);
box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

/* PRODUCT CART */
.productListContainer {
background-color: white;
text-align: left;
/* border: red solid; */
padding: 2%;
margin: 2%;
}

.productListContainer p{
/* background-color: red; */
margin: 1%;
width: 50%;
}

.productListContainer input {
/* background-color: red; */
margin: 1%;
border: blue;
width: 50%;
}

.buttomContainerCart{
background-color: white;
/* border: red solid; */
margin: 2%;
padding: 2%;
}

.buttomContainerCart button {
text-align: center;
display: block;
margin-top: 1%;
width: 100%;
font-size: 4vh;
font-family: 'Handlee', cursive;
font-weight: 900;
height: 10vh;
}

.buttomContainerCartEnvio{
text-align: left;
width: 100%;
/* background-color: red; */
}

.buttomContainerCartPrecio{
text-align: right;
width: 100%;
/* background-color: red; */
}

.bodyregister{
margin: 0;
padding: 0;
background-color: #f0f0f0;

display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-items: center; 
}

.cajaregister{
width: 410px;
padding: 40px;
background-color: #4A91F7;
text-align: center;
border-radius: 18%;
border: 1px rgb(100, 224, 255);
}

.titulo{
font-size: 27px;
}

.cajaregister .formulario .inputbox .input{
width: 100%;
outline: none;
border: 1px solid #d5dbd9;
font-size: 15px;
padding: 8px 10px;
border-radius: 22px;
transition: all 0.3s ease;
}


.bodyregister .cajaregister .formulario .inputbox,
.botones{
border: 0;
background: none;
display: flex;
margin: 20px auto;
padding: 5px 3px;
text-align: center;
border: 2px solid rgb(107, 190, 245);
width: 253px;
outline: none;
color: black;
border-radius: 22px;
transition: 360ms;
font-family: 'arial', cursive;
font-size: 16;
}

.bodyregister .cajaregister .formulario .botones button[type="submit"],
.bodyregister .cajaregister .formulario .botones button[type="reset"],
.bodyregister .cajaregister .formulario .botones button[type="button"]{
border: 0;
background: rgb(107, 190, 245);
cursor: pointer;
}

.botones button[type="submit"]:hover,
.botones button[type="reset"]:hover,
.botones button[type="button"]:hover{
transition: 1111ms;
background: none;
}

.bodyregister .cajaregister .formulario .inputbox[type="text"]:focus,
.bodyregister .cajaregister .formulario .inputbox[type="text"]:focus,
.bodyregister .cajaregister .formulario .inputbox[type="password"]:focus,
.bodyregister .cajaregister .formulario .inputbox[type="password"]:focus,
.bodyregister .cajaregister .formulario .inputbox[type="email"]:focus,
.bodyregister .cajaregister .formulario .inputbox[type="text"]:focus,
.bodyregister .cajaregister .formulario .inputbox[type="text"]:focus{
width: 280px;
border-color:white;

}


