<html lang="en" class="html-login">
  <%- include('./partials/head.ejs') %>
<body class="bodylogin">
  <%- include('./partials/headerLogin.ejs') %>
  <form action="/users/login" method="post" class="boxlogin">
    <h2 class="title">Login</h2>
    <input type="text" placeholder="Username" name="email">
    <input type="password" placeholder="Password" name="password">
    <label for="">Recordame</label>
    <input type="checkbox" name="recordame">
    <button type="submit">
      Login
    </button> 
    <button type="reset">
      Reset
    </button>
    <a href="register">
      <h1 class="pregunta">¿No tienes cuenta?</h1>
    </a>
    </form>
</body>
</html>