<header class="header">
  <nav class="navegador">
    <div class="container-logo-barra-nav">
      <a href="/">
      <img class="logo" src="/img/cleanfy-logo.png" alt="Logo de Cleanfy">
    </a>
      <div class="menuHeader">
        <a href="/products/productCreate">Vender</a>
      </div>
      <div class="buscador">
        <form action="/search" method="GET"></form>
         <input type="text" placeholder="Buscar" aria-label="Buscar" name="Buscar">
                <input type="submit" value="Buscar">

      </div>
      <div>
       <ul class="menuHeader">
        <li><a href="">Categorias</a>
          <ul class="listaHeader">
            <li><a href="#">Exteriores</a>
            <li><a href="#">Interiores</a>
            <li><a href="#">Electrodomesticos</a>
            <li><a href="#">Ecologicos</a>  
          </ul>
        </li>
        <li><a href="#">Ofertas</a></li>
        <li><a href="#">Envios</a></li>
        <li><a href="/products/carrito">Carrito de compras 0 </a></li>
       </ul>
      </div>
      <ul class=botonesregistro>
        <% if (locals.isLogged) { %>
          <div class="offcanvas-header  usuario">
            <h5 class="offcanvas-title nombre-login" id="offcanvasNavbarLabel">
              <%= locals.userLogged.email%>
            </h5>
            <li class="nav-item usuario">
              <a class="nav-link active nav-acount-home  cerrarSesion" aria-current="page" href="/users/logout">Cerrar
                sesión</a>
            </li>
            <li class="nav-item usuario">
              <a class="nav-link active nav-acount-home  cerrarSesion" aria-current="page" href="/users/admin/user/list">Administrador</a>
            </li>
          </div>
          <% } else { %>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="nav-link active nav-acount-home" aria-current="page" href="/users/register">Crear cuenta</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active nav-acount-home" aria-current="page" href="/users/login">Iniciar sesion</a>
                </li>
                <% } %>
      </ul>
    </div>
  </nav>
</header>